<h2>{{ healthRecordId ? 'Cập nhật' : 'Tạo mới' }} Hồ Sơ Sức Khỏe</h2>
<form (ngSubmit)="saveHealthRecord()">
    <label for="recordType">Loại Hồ Sơ:</label>
    <input type="text" id="recordType" [(ngModel)]="healthRecord.recordType" name="recordType" required>

    <label for="fileUrl">Đường Dẫn File:</label>
    <input type="text" id="fileUrl" [(ngModel)]="healthRecord.fileUrl" name="fileUrl" required>

    <label for="createdAt">Ngày Tạo:</label>
    <input type="date" id="createdAt" [(ngModel)]="healthRecord.createdAt" name="createdAt" required>

    <button type="submit">{{ healthRecordId ? 'Cập nhật' : 'Tạo mới' }}</button>
</form>