<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Doctor'" [items]="['Doctors']" [active_item]="'Add Doctor'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Doctor</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="fullName" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phoneNumber" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width password-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">
                      {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                  </mat-form-field>

                  <!-- Password Requirements -->
                  <div class="password-criteria-container" *ngIf="docForm.get('password')?.dirty && !allCriteriaMet">
                    <div class="requirements-header">
                      <span class="header-text">Password requirements:</span>
                    </div>
                    <div class="password-criteria">
                      <small [class.valid]="hasMinLength()">• At least 6 characters</small><br>
                      <small [class.valid]="hasUpperCase()">• At least 1 uppercase letter</small><br>
                      <small [class.valid]="hasLowerCase()">• At least 1 lowercase letter</small><br>
                      <small [class.valid]="hasNumber()">• At least 1 number</small><br>
                      <small [class.valid]="hasSpecialChar()">• At least 1 special character</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option value="Male">Male</mat-option>
                      <mat-option value="Female">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Experience Years</mat-label>
                    <input matInput formControlName="experienceYears" type="number" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Languages</mat-label>
                    <input matInput formControlName="languages" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Consultation Fee</mat-label>
                    <input matInput formControlName="consultationFee" type="number" required>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Bio</mat-label>
                    <textarea matInput formControlName="bio" rows="3" required></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Specializations</mat-label>
                    <mat-select formControlName="specializationIds" multiple>
                      <mat-option *ngFor="let s of specializations" [value]="s.id">
                        {{ s.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-xl-12 mb-5">
                  <label>Profile Image</label>
                  <app-file-upload formControlName="profileImage"></app-file-upload>
                </div>
              </div> -->

              <div class="row">
                <div class="col-xl-12 mb-3">
                  <button [disabled]="!docForm.valid" mat-flat-button color="primary">Submit</button>
                  <button type="button" mat-flat-button class="formCancelBtn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>