<!-- src/app/admin/accounts/bill-list/dialog/delete/delete.component.html -->
<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p>
          <span class="font-weight-bold">Patient Name:</span>
          {{ data.patientName }}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">Doctor Name:</span>
          {{ data.doctorName }}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">Total:</span>
          {{ data.total }}
        </p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <!-- Nút Delete gọi confirmDelete() -->
    <button mat-flat-button color="warn" (click)="confirmDelete()">
      Delete
    </button>

    <!-- Nút Cancel chỉ đóng dialog -->
    <button mat-flat-button color="accent" (click)="onCancel()" tabindex="-1">
      Cancel
    </button>
  </div>
</div>